# Исключаем зависимости
node_modules/

# Исключаем файлы сборки
dist/
app.js

# Исключаем файлы логов
logs/
*.log

# Исключаем базы данных
*.sqlite
*.db

# Переменные окружения
.env

# Системные файлы и временные файлы
.DS_Store
Thumbs.db
*.swp
*.tmp

# Локальные файлы настроек редакторов
.idea/
.vscode/